html {
	box-sizing: border-box;
}
*,*:before,*:after {
	box-sizing: inherit;
}
body{
	background-color: black;
}
h1{
	color:white;
	font-family: 'Kanit', sans-serif;

    font-family: 'Sono', sans-serif;
	font-size: 50px;
	margin-left: 1vw;
	
}
p{
color:white;
font-family: 'Nerko One', cursive;
font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	margin-left:1vw;
}