/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

 .spacex img{
  position: absolute;
width: 60vw;
height: 100px;
left: 480px;
top: 13px;
 }
 
  header.primary{
  background-color: #192543;
 text-align: center;
 padding: 40px;
 width: 100vw;
height: 203px;
left: 0px;
top: 0px;
}

  header.primary nav{
    width:80vw;
    max-width: 900px;
    margin:100px auto;
  }

  header.primary nav ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  header.primary nav ul li{
    list-style-type: none;
  }

  header.primary ul li a{
    color:#f1eaea;
    text-decoration:none;
    background-color:rgba(18, 126, 214, 0.4);
    padding:8px 16px;
    border-radius:20px;
    transition:.5s;
    border: 1px dashed rgba(0,0,0,.8);
  }

    header.primary ul li a:hover, 
header.primary ul li a:active{
  background-color:rgba(44, 52, 65, 0.8);
}


  .section1-index {
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 0px;
    top: 200px;
  }

  .section1-index img{
    position: absolute;
width: 100vw;
height: 95%;
left: 0px;
top: 0px;

  }

  body{
    background:#192543;
  }

  .section1-main-content-index p {
    position: absolute;
    width: 1110px;
    height: 420px;
    left:100px;
    top: 150px;
font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 52px;
color: #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
background-color: #ffeeee98;


  }
  
  .section1-main-content-index h2{
    position: absolute;
    width: 615px;
    height: 118px;
    left: 100px;
    top: 10px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 52px;
color: #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  header.primary2{
    background-color: #192543;
   text-align: center;
   padding: 40px;
   width: 100%;
  height: 200px;
  }

  header.primary2 h2{
    position: absolute;
    width: 1028px;
    height: 80px;
    left: 200px;
    top: 830px;
    
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 700px;
    font-size: 48px;
    line-height: 62px;
    
    color: #eee3e3;
  }

  .section2-index img{
    position: absolute;
width: 100%;
height: 95%;
left: 0px;
top: 950px;}

.section2-main-content-index h3{
  position: absolute;
  width: 615px;
  height: 118px;
  left: 100px;
  top: 950px;
font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 52px;
color: #f0ecec;
text-shadow: 0px 4px 4px rgba(250, 244, 244, 0.25);
}

.section2-main-content-index ul {
  position: absolute;
  width: 1110px;
  height: 420px;
  left:100px;
  top: 1080px;
font-family: 'Roboto Condensed', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 52px;
color: #ebe6e6;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
background-color: #373b448a;

}

header.primary3{
  background-color: #192543;
 text-align: center;
 padding: 40px;
 width: 100%;
height: 1700px;
}
header.primary3 h2{
  position: absolute;
  width: 1000px;
  height: 80px;
  left: 320px;
  top: 1580px;
  font-family: 'IBM Plex Mono';
font-style: italic;
font-weight: 700;
font-size: 40px;
line-height: 100px;

color: #FFF7F7;
}

.section3-index img{
  position: absolute;
  width: 100%;
  height: 95%;
  left: 0px;
  top: 1800px;}

  .section3-main-content-index h3{
    position: absolute;
width: 1000px;
height: 773px;
left: 200px;
top: 1800px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400px;
font-size: 80px;
line-height: 52px;
color: #ebebeb;
text-shadow: 0px 4px 4px rgba(26, 24, 24, 0.773);


  }

  .section3-main-content-index ul{
    position: absolute;
    width: 1110px;
    height: 420px;
    left:220px;
    top: 1960px;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 30px;
  line-height: 52px;
  color: #ebe6e6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color:#160c0c4b;
  }

.section4-index img{
  position: absolute;
  width: 30%;
  height: 50%;
  left: 1050px;
  top: 2450px;
  mix-blend-mode: normal;
border-radius: 50px;
}

  

  
